<div class="container col-8">
  <h1 class="text-center">ToDo Monster</h1>
  <div class="card">
    <div class="card-header">
      <app-task-form (onTaskCreate)="taskCreate($event)" (onTaskUpdate)="taskUpdate($event)"
        [touchedTask]="touchedTask">
      </app-task-form>
    </div>
    <div class="card-body list-group" *ngIf="tasks$ | async as tasks">
      <blockquote class="blockquote mb-0">
        <div *ngIf="tasks.length!==0; else noTasks">
          <app-task (onTaskComplite)="taskComplite($event)" (onTaskDelete)="taskDelete($event)"
            (onTaskTouch)="taskTouch($event)" *ngFor="let task of tasks" [task]="task"></app-task>
        </div>
        <ng-template #noTasks>
          <div class="text-center">
            <p>Нет задач</p>
          </div>
        </ng-template>
      </blockquote>
    </div>
  </div>
</div>