<div class="col list-group-item list-group-item-action">
    <div class="row col">
        <div class="col-1">
            <input class="form-check-input center-block" type="checkbox" value="" [checked]="task.complited"
                (change)="taskComplite()">
        </div>
        <div class="col-10">
            <div class="align-bottom" [ngStyle]="{
                    textDecoration: task.complited ? 'line-through' : 'none'
                }" (click)="taskTouch()">{{task.text}}
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="btn" (click)="taskDelete()">&times;</button>
        </div>
    </div>
</div>