<form class="row col align-items-center" *ngIf="!touchedTask; else updateInput">
    <div class="col-9">
        <input type="text" class="form-control" placeholder="Моя новая задача" aria-label="First name" #inputText>
    </div>
    <div class="col-2 text-center">
        <div><button type="submit" class="btn btn-primary"
                (click)="[createTask(inputText.value),inputText.value='']">Добавить</button>
        </div>
    </div>
</form>
<ng-template #updateInput>
    <form class="row col align-items-center">
        <div class="col-9">
            <input type="text" class="form-control" placeholder="Моя новая задача" aria-label="First name"
                [value]="touchedTask!.text" #inputText>
        </div>
        <div class="col-2 text-center">
            <div><button type="button" class="btn btn-primary"
                    (click)="[updateTask(inputText.value),inputText.value='']">Обновить</button></div>
        </div>
        <div class="col-1">
            <button type="button" class="btn" (click)="cancelTask()">&times;</button>
        </div>
    </form>
</ng-template>